@import '_mixins.scss';
@import '_variables.scss';

html, body, .ng-scope, .container-fluid, .row {
    height: 100%;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.application-background {
	background-image: url(../images/application-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    @include background-size(cover);
}

.carousel-wrapper {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.info-box {
    margin: 0 auto;
    padding: 25px 25px 30px 25px;
	background: $default-bg;
    @include border-radius(0 0 4px 4px);
}

.city-background-wrapper { 

}

.city-background {
    width: 100%;
}

.weather-forecast-temperature {
    color: #fff;
    text-align: center;
    &.primary {
        font-size: 60px;
    }
    &.secondary {
        font-size: 20px;
    }
}

.weather-forecast-icon {
    text-align: center;
    &.primary > img {
        width: 100px;
        height: 100px;
    }
    &.secondary > img {
        width: 30px;
        height: 30px;
    }
}

.weather-forecast-quantitatives {
    color: #fff;
    text-align: center;
    .glyphicon-chevron-up {
        color: green;
    }
    .glyphicon-chevron-down {
        color: red;
    }
    .glyphicon-tint {
        color: blue;
    }
}

.weather-forecast-date {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 5px;
	background: $default-bg;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    &.primary {

    }
    &.secondary {
        margin: 20px 0;
    }
}

.city-background-info {
    position: absolute;
    width: 100%;
    top: 0;
    &.city-name {
        margin-left: 20px;
        color: #fff;
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
}

//angular carousel
.rn-carousel-control {
    font-size: 60px;
    color: #fff;
}

@media (min-width: 992px) {
    .vertical-bordered:not(:last-child)  {
        border-right: 1px solid $default-bg;
    }
}

@media (min-width: 768px) {
    .xs-overflow-y {
    overflow-y: auto !important;
    }
}