<div class="container">
	<ul rn-carousel>
		<li ng-repeat="data in vm.data">
			<tt-set-background ng-if="data.assets.backgrounds" classes="['application-background', 'city-background']" source="data.assets.backgrounds">
				<div class="row">
					<div class="col-md-12">
						<div class="city-background-wrapper">
							<img class="city-background" alt="Cidade">
						</div>
						<div class="info-box">
							<div class="city-weatherForecast-wrapper">
								<div class="row">
									<div ng-if="$first" ng-repeat-start="weatherForecast in data.weatherForecast" class="col-md-4">
										<div class="row">
											<div class="col-md-6">
												<div class="">
													<div class="primary weather-forecast-temperature">{{ weatherForecast.quantitative.temperature | ttToFixed: 0 }}º</div>
													<div class="primary weather-forecast-date">
														<span>{{ weatherForecast.momentDate | amDateFormat:'dddd'}}</span> - <span>{{ weatherForecast.momentDate | amDateFormat:'DD/MM/YY'}}</span>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="primary weather-forecast-icon">
													<img ng-src="http://openweathermap.org/img/w/{{ weatherForecast.weather.icon }}.png">
												</div>
												<div class="row weather-forecast-quantitatives">
													<div class="col-xs-4 col-sm-4 col-md-4">
														<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
														{{ weatherForecast.quantitative.maxTemp | ttToFixed: 0 }}
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4">
														<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
														{{ weatherForecast.quantitative.minTemp | ttToFixed: 0 }}
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4">
														<span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
														{{ weatherForecast.quantitative.humidity | ttToFixed: 0 }}
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-if="!$first" ng-repeat-end class="col-md-2 vertical-bordered">
										<div class="">
											<div class="secondary weather-forecast-date">
												<span>{{ weatherForecast.momentDate | amDateFormat:'ddd'}}</span> - <span>{{ weatherForecast.momentDate | amDateFormat:'DD/MM/YY'}}</span> 
											</div>
											<div class="secondary weather-forecast-icon">
												<img ng-src="http://openweathermap.org/img/w/{{ weatherForecast.weather.icon }}.png">
											</div>
											<div class="secondary weather-forecast-temperature">{{ weatherForecast.quantitative.temperature | ttToFixed: 0 }}º</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tt-set-background>
		</li>
	</ul>
</div>